*{
    padding: 0%;
    margin: 0px;
}

header .logo {
    padding: 1.5rem 7%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

header .logo img {
    width: 10rem;;
}

.navigasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    background-color: red;
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navigasi .search a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navigasi .search a:hover {
    color: gray;
}

.navigasi .navigasi-nav {
    display: flex;
}

.navigasi .navigasi-nav a {
    margin: 0 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    transition: 0.5s;
}

.navigasi .navigasi-nav a:hover {
    color: black;
}

.navigasi .navigasi-nav a:after {
    content: '';
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid black;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigasi .navigasi-nav a:hover::after {
    transform: scaleX(0.5);
}

.navigasi .humberger a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.navigasi .humberger a:hover {
    color: gray;
}

#humberger-menu {
    display: none;
}

.pertama h1 {
    margin-top: 12rem;
	text-align: center;
	text-transform: capitalize;
	font-size: 3rem;
	color: black;
	font-weight: bold;
}

.pertama h1 span {
	color: red;
}

.pertama h2 {
	margin-top: 3rem;
	margin-bottom: 4rem;
	text-align: center;
	text-transform: capitalize;
	font-size: 3.5rem;
	font-weight: bold;
}

.pertama .kereta {
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    margin-bottom: 4rem;
}

.pertama .kereta .matic {
	margin: auto;
	text-align: center;
	padding: 1.5rem 1rem;
	margin: 1rem 1rem;
	background-color: whitesmoke;
	border-radius: 2rem;
	border: 2px solid black;
	max-width: 30rem;
	transition: 0.3s;
}

.pertama .kereta .matic:hover {
	border-color: red;
	transform: scale(1.05);
}

.pertama .kereta .matic img {
	max-width: 15rem;
}

.pertama .kereta .matic .nama {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 2.2rem;
}

.pertama .kereta .matic .hargamulai {
	margin-top: 0.2rem;
	text-transform: capitalize;
	font-size: 1.7rem;
}

.pertama .kereta .matic .harga {
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	text-transform: capitalize;
	font-size: 1.8rem;
	font-weight: bold;
}

.pertama .kereta .matic a {
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 1rem;
	transition: 0.5s;
}

.pertama .kereta .matic a:hover {
	color: red;
}

footer {
	align-items: center;
	padding: 1.5rem 7%;
	text-align: center;
	background-color: red;
	color: white;
}

footer .policy a {
	margin: 0 1.5rem;
	text-decoration: none;
	text-transform: capitalize;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	transition: 0.3s;
}

footer .policy a:hover {
	color: gray;
}

footer p {
	margin-top: 1.5rem;
	text-align: center;
	text-transform: capitalize;
	color: white;
	font-size: 1.5rem;
	transition: 0.3s;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 63%;
    }

    #humberger-menu {
        display: inline-block;
    }

   .navigasi .navigasi-nav {
    display: block;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    height: 100vh;
    background-color: gray;
    transition: 0.3s;
   }

   .navigasi .navigasi-nav.active {
    right: 0;
}

.navigasi .navigasi-nav a {
    display: block;
    margin: 1rem;
    padding: 0.3rem;
    font-size: 1.7rem;
}

   .navigasi .navigasi-nav a::after {
    transform-origin: 0 0;
}

.navigasi .navigasi-nav a:hover::after {
    transform: scaleX(0.2);
    transition: 0.3s;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 53%;
    }

    .navigasi .navigasi-nav a {
		font-size: 2rem;
	}
}